In [1]:
# Dependencies
import pandas as pd

In [2]:
# List of file names to be combined 
citifiles_2016 = ['201601-citibike-tripdata.csv', '201602-citibike-tripdata.csv', '201603-citibike-tripdata.csv'
                #'201604-citibike-tripdata.csv','201605-citibike-tripdata.csv','201606-citibike-tripdata.csv'
                 ]
                 


# Create an empty list to store each dataframe
citi_data_2016 = []

# Loop through each file in the list
for file in citifiles_2016:
    # Read the file into a dataframe
    bikedata_2016 = pd.read_csv(file)
     # Append the dataframe to the list
    citi_data_2016.append(bikedata_2016)
    
# Concatenate all dataframes in the list into one dataframe
bike_df= pd.concat(citi_data_2016, axis = 0)

# Show dataframe
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [3]:
bike_df.info

<bound method DataFrame.info of         tripduration           starttime            stoptime  \
0                923   1/1/2016 00:00:41   1/1/2016 00:16:04
1                379   1/1/2016 00:00:45   1/1/2016 00:07:04
2                589   1/1/2016 00:00:48   1/1/2016 00:10:37
3                889   1/1/2016 00:01:06   1/1/2016 00:15:56
4               1480   1/1/2016 00:01:12   1/1/2016 00:25:52
...              ...                 ...                 ...
919916           281  3/31/2016 17:23:09  3/31/2016 17:27:50
919917           248  3/31/2016 17:39:52  3/31/2016 17:44:00
919918           652  3/31/2016 19:52:14  3/31/2016 20:03:07
919919          1794  3/31/2016 20:40:46  3/31/2016 21:10:40
919920          1188  3/31/2016 20:59:23  3/31/2016 21:19:11

        start station id        start station name  start station latitude  \
0                    268     Howard St & Centre St               40.719105
1                    476           E 31 St & 3 Ave               40.743943
2                    489          10 Ave & W 28 St               40.750664
3                    268     Howard St & Centre St               40.719105
4                   2006    Central Park S & 6 Ave               40.765909
...                  ...                       ...                     ...
919916              3246  Montague St & Clinton St               40.694281
919917              3246  Montague St & Clinton St               40.694281
919918              3246  Montague St & Clinton St               40.694281
919919              3246  Montague St & Clinton St               40.694281
919920              3246  Montague St & Clinton St               40.694281

        start station longitude  end station id             end station name  \
0                    -73.999733            3002   South End Ave & Liberty St
1                    -73.979661             498           Broadway & W 32 St
2                    -74.001768             284        Greenwich Ave & 8 Ave
3                    -73.999733            3002   South End Ave & Liberty St
4                    -73.976342            2006       Central Park S & 6 Ave
...                         ...             ...                          ...
919916               -73.992300            2000     Front St & Washington St
919917               -73.992300             157      Henry St & Atlantic Ave
919918               -73.992300             467              Dean St & 4 Ave
919919               -73.992300            3118   McGuinness Blvd & Eagle St
919920               -73.992300             347  Greenwich St & W Houston St

        end station latitude  end station longitude  bikeid    usertype  \
0                  40.711512             -74.015756   22285  Subscriber
1                  40.748549             -73.988084   17827  Subscriber
2                  40.739017             -74.002638   21997  Subscriber
3                  40.711512             -74.015756   22794  Subscriber
4                  40.765909             -73.976342   14562  Subscriber
...                      ...                    ...     ...         ...
919916             40.702551             -73.989402   15275  Subscriber
919917             40.690893             -73.996123   19665  Subscriber
919918             40.683125             -73.978951   15230  Subscriber
919919             40.735550             -73.952840   19752  Subscriber
919920             40.728846             -74.008591   17288  Subscriber

        birth year  gender
0           1958.0       1
1           1969.0       1
2           1982.0       2
3           1961.0       2
4           1952.0       1
...            ...     ...
919916      1982.0       1
919917      1973.0       1
919918      1989.0       1
919919      1975.0       1
919920      1983.0       1

[1990273 rows x 15 columns]>

In [4]:
bike_df.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919916,281,3/31/2016 17:23:09,3/31/2016 17:27:50,3246,Montague St & Clinton St,40.694281,-73.992300,2000,Front St & Washington St,40.702551,-73.989402,15275,Subscriber,1982.0,1
919917,248,3/31/2016 17:39:52,3/31/2016 17:44:00,3246,Montague St & Clinton St,40.694281,-73.992300,157,Henry St & Atlantic Ave,40.690893,-73.996123,19665,Subscriber,1973.0,1
919918,652,3/31/2016 19:52:14,3/31/2016 20:03:07,3246,Montague St & Clinton St,40.694281,-73.992300,467,Dean St & 4 Ave,40.683125,-73.978951,15230,Subscriber,1989.0,1
919919,1794,3/31/2016 20:40:46,3/31/2016 21:10:40,3246,Montague St & Clinton St,40.694281,-73.992300,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,19752,Subscriber,1975.0,1
919920,1188,3/31/2016 20:59:23,3/31/2016 21:19:11,3246,Montague St & Clinton St,40.694281,-73.992300,347,Greenwich St & W Houston St,40.728846,-74.008591,17288,Subscriber,1983.0,1

In [5]:
bike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [6]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use the 'map' method to change the values in the 'gender' column
bike_df['gender'] = bike_df['gender'].map(mapping)

# Show DataFrame
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,Male
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,Male
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,Female
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,Female
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,Male

In [7]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                           object
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
gender                             object
dtype: object

In [9]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])
bike_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
gender                             object
dtype: object

In [12]:
bike_df['birth year'].min()

1885.0

In [10]:
bike_df.to_csv('citibike_2016.csv', index= False)