In [5]:
# Dependencies
import pandas as pd

In [12]:
# List of file names to be combined 
citifiles_2016 = ['201601-citibike-tripdata.csv', '201602-citibike-tripdata.csv', '201603-citibike-tripdata.csv',
                 '201604-citibike-tripdata.csv','201605-citibike-tripdata.csv','201606-citibike-tripdata.csv']
                 


# Create an empty list to store each dataframe
citi_data_2016 = []

# Loop through each file in the list
for file in citifiles_2016:
    # Read the file into a dataframe
    bikedata_2016 = pd.read_csv(file)
     # Append the dataframe to the list
    citi_data_2016.append(bikedata_2016)
    
# Concatenate all dataframes in the list into one dataframe
bike_df= pd.concat(citi_data_2016, axis = 0)

# Show dataframe
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [8]:
bike_df.info

<bound method DataFrame.info of          tripduration           starttime            stoptime  \
0                 923   1/1/2016 00:00:41   1/1/2016 00:16:04
1                 379   1/1/2016 00:00:45   1/1/2016 00:07:04
2                 589   1/1/2016 00:00:48   1/1/2016 00:10:37
3                 889   1/1/2016 00:01:06   1/1/2016 00:15:56
4                1480   1/1/2016 00:01:12   1/1/2016 00:25:52
...               ...                 ...                 ...
1460313          1078  6/30/2016 18:18:19  6/30/2016 18:36:17
1460314          1154  6/30/2016 18:18:58  6/30/2016 18:38:13
1460315          2326  6/29/2016 10:58:40  6/29/2016 11:37:27
1460316          1464  6/30/2016 20:47:04  6/30/2016 21:11:29
1460317          2854  6/29/2016 11:44:24  6/29/2016 12:31:59

         start station id        start station name  start station latitude  \
0                     268     Howard St & Centre St               40.719105
1                     476           E 31 St & 3 Ave               40.743943
2                     489          10 Ave & W 28 St               40.750664
3                     268     Howard St & Centre St               40.719105
4                    2006    Central Park S & 6 Ave               40.765909
...                   ...                       ...                     ...
1460313              2000  Front St & Washington St               40.702551
1460314              2000  Front St & Washington St               40.702551
1460315               387   Centre St & Chambers St               40.712733
1460316               525          W 34 St & 11 Ave               40.755942
1460317               348    W Broadway & Spring St               40.724910

         start station longitude  end station id            end station name  \
0                     -73.999733            3002  South End Ave & Liberty St
1                     -73.979661             498          Broadway & W 32 St
2                     -74.001768             284       Greenwich Ave & 8 Ave
3                     -73.999733            3002  South End Ave & Liberty St
4                     -73.976342            2006      Central Park S & 6 Ave
...                          ...             ...                         ...
1460313               -73.989402             355       Bayard St & Baxter St
1460314               -73.989402             312       Allen St & Stanton St
1460315               -74.004607             392            Jay St & Tech Pl
1460316               -74.002116             507             E 25 St & 2 Ave
1460317               -74.001547             225     W 14 St & The High Line

         end station latitude  end station longitude  bikeid    usertype  \
0                   40.711512             -74.015756   22285  Subscriber
1                   40.748549             -73.988084   17827  Subscriber
2                   40.739017             -74.002638   21997  Subscriber
3                   40.711512             -74.015756   22794  Subscriber
4                   40.765909             -73.976342   14562  Subscriber
...                       ...                    ...     ...         ...
1460313             40.716021             -73.999744   18165  Subscriber
1460314             40.722055             -73.989111   21176    Customer
1460315             40.695065             -73.987167   25040    Customer
1460316             40.739126             -73.979738   16549    Customer
1460317             40.741951             -74.008030   18360  Subscriber

         birth year  gender
0            1958.0       1
1            1969.0       1
2            1982.0       2
3            1961.0       2
4            1952.0       1
...             ...     ...
1460313      1968.0       1
1460314         NaN       0
1460315         NaN       0
1460316         NaN       0
1460317      1963.0       2

[5676020 rows x 15 columns]>

In [13]:
bike_df.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460308,670,6/30/2016 23:59:51,7/1/2016 00:11:02,167,E 39 St & 3 Ave,40.748901,-73.976049,2022,E 60 St & York Ave,40.759107,-73.959223,18015,Subscriber,1982.0,1
1460309,145,6/30/2016 23:59:58,7/1/2016 00:02:24,3224,W 13 St & Hudson St,40.739974,-74.005139,116,W 17 St & 8 Ave,40.741776,-74.001497,25830,Subscriber,1992.0,1
1460312,355,6/30/2016 13:37:26,6/30/2016 13:43:22,217,Old Fulton St,40.702772,-73.993836,392,Jay St & Tech Pl,40.695065,-73.987167,25470,Subscriber,1988.0,1
1460313,1078,6/30/2016 18:18:19,6/30/2016 18:36:17,2000,Front St & Washington St,40.702551,-73.989402,355,Bayard St & Baxter St,40.716021,-73.999744,18165,Subscriber,1968.0,1
1460317,2854,6/29/2016 11:44:24,6/29/2016 12:31:59,348,W Broadway & Spring St,40.724910,-74.001547,225,W 14 St & The High Line,40.741951,-74.008030,18360,Subscriber,1963.0,2

In [14]:
bike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [11]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use the 'map' method to change the values in the 'gender' column
bike_df['gender'] = bike_df['gender'].map(mapping)

# Show DataFrame
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,Male
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,Male
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,Female
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,Female
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,Male

In [ ]:
bike_df["starttime"] = bike_df["starttime"].astype('datetime64[ns]')
bike_df["stoptime"] = bike_df["stoptime"].astype('datetime64[ns]')
bike_df.dtypes